{% extends 'common/base.html' %}
{% load static %}
<!--aside nav-->
<!--aside nav-->
{% block aside %}
<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="index_admin.html">起始页</a></h2>
    <ul>

        <li>

        </li>
        <li>
            <dl>
                <dt>会员管理</dt>
                <dd><a href="user_list.html">会员列表示例</a></dd>
                <dd><a href="admin_detail.html">添加会员（详情）示例</a></dd>
                <dd><a href="user_rank.html">会员等级示例</a></dd>
                <dd><a href="adjust_funding.html">会员资金管理示例</a></dd>
            </dl>
        </li>

        <li>
            <dl>
                <dt>配送与支付设置</dt>
                <dd><a href="express_list.html">配送方式</a></dd>
                <dd><a href="pay_list.html">支付方式</a></dd>
            </dl>
        </li>

        <li>
            <p class="btm_infor">© DeathGhost.cn 版权所有</p>
        </li>
    </ul>
</aside>
{% endblock aside %}
{% block content %}
<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">配送方式</h2>
            <a href="product_detaila.html" class="fr top_rt_btn add_icon">添加配送方式</a>
        </div>
        <table class="table">
            <tr>
                <th>缩略图</th>
                <th>快递名称</th>
                <th>快递描述</th>
                <th>操作</th>
            </tr>
            <tr>
                <td class="center"><img src="{% static 'upload/shentong.png' %}" width="165" height="65" alt=""/></td>
                <td>申通快递</td>
                <td><p>上海申通物流公司拥有247个独立城市营业所，179个营业厅，1220个操作点，快递初创于1993年，是一家以经营快递为主的国内合资（民营）企业。</p></td>
                <td class="center">
                    <a href="product_detaila.html" title="编辑" class="link_icon">&#101;</a>
                    <a href="#" title="删除" class="link_icon">&#100;</a>
                </td>
            </tr>
            <tr>
                <td class="center"><img src="{% static 'upload/yuantong.png' %}" width="165" height="65" alt=""/></td>
                <td>圆通快递</td>
                <td><p>圆通速递创建于2000年5月28日,经过近十四年的发展,已成为一家集速递、航空、电子商务等业务为一体的大型企业集团,形成了集团化、网络化、规模化、品牌化经营的新...</p></td>
                <td class="center">
                    <a href="product_detaila.html" title="编辑" class="link_icon">&#101;</a>
                    <a href="#" title="删除" class="link_icon">&#100;</a>
                </td>
            </tr>
            <tr>
                <td class="center"><img src="{% static 'upload/yunda.png' %}" width="165" height="65"/></td>
                <td>韵达快递</td>
                <td><p>“韵达快递”品牌创立于1999年8月，总部位于中国上海，现已成为集快递、物流、电子商务配送和仓储服务为一体的全国网络型品牌快递企业，服务范围覆盖国内31个省（区、市）及港澳台地区。</p>
                </td>
                <td class="center">
                    <a href="product_detaila.html" title="编辑" class="link_icon">&#101;</a>
                    <a href="#" title="删除" class="link_icon">&#100;</a>
                </td>
            </tr>
        </table>
        <aside class="paging">
                <div class="row">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li  {% if not pager.has_previous %} class="disabled" {% else %} class="" {% endif %}>
                                {% if pager.has_previous %}
                                    <a href="{% url 'adm:sec' 13 pager.previous_page_number %}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% endif %}
                            </li>
                            {% for page in pager.page_range %}
                                <li {% ifequal pager.number page %} class="active" {% endifequal %}>
                                    <a href="{% url 'adm:sec' 13 page %}">{{ page }}</a>
                                </li>
                            {% endfor %}
                            <li {% if not pager.has_next %} class="disabled" {% else %} class="" {% endif %}>
                                {% if pager.has_next %}
                                    <a href="{% url 'adm:sec' 13 pager.next_page_number %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% endif %}
                        </ul>
                    </nav>
                </div>

            </aside>
    </div>
</section>
{% endblock content %}

